<ul class='werhouse-list'>
  {{#each this}}
    <li id={{num}} class='werhouse-list-item'>

      <div class='item-name'>{{name}}</div>
      <div class='werhouse-list-item-q'>{{quantity}}</div>
      <div class='item-alert'>
        <span class='material-icons'>report_problem</span>
      </div>

    </li>
  {{/each}}
</ul>